body {
    font-family: 'Droid Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 1.5em;
    width: 510px;
    padding-left: 10px;
    text-align: justify;
}

h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, cite, code, del, dfn, em, img, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, button, table, caption, tbody, tfoot, thead, tr, th, td {
    font-family: 'Droid Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif;
}

input[type="text"], textarea {
    font-family: 'Droid Sans', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, Arial, Helvetica, sans-serif;
    font-size: 13px;
    line-height: 1.5em;
    margin-top: 10px;
    width: 200px;
    padding: 0px 5px 5px 0px;
}

input[type="button"]{

    min-width:100px;
    border: 1px solid #ccc;
   /* display: block;*/
    margin: auto;
    height:25px;
}

input[type="button"]:hover{
background-color: #bbb;
}

#header {
    height: 88px;
}

label {
    font-weight: bold;
    padding-right: 10px;
}

/*** Form Styles ***/

.actions {
    background: none; /*  border-radius: 0 0 3px 3px;*/
    /** border-top: 1px solid #DDDDDD;**/
    border: none;
    margin-bottom: 18px;
    margin-top: 18px;
    padding: 17px 20px 18px 150px;
}

a {
    cursor: pointer;
}

/**** Table ********/

table {

}

table td {
    vertical-align: top;
}




